<% provide(:title, 'Sobre Nosotros') %>
<h1>Historial de la Institución</h1>

<div class="texto-historial">
	
	<p>
	Los antecedentes históricos del Colegio Parroquial Subvencionado Monseñor Juan Wiesen se remontan al anterior “Liceo Secundario de Fram”  que por Resolución del Ministerio de Educación y Culto Nº 285 del 26 de abril del año 1967,  autoriza la apertura y funcionamiento bajo la Dirección de la Profesora Marciana Cardozo Mereles, y como Secretaria la Prof. Damacia Cardozo de García, y los docentes: el  Prof. Deólido Villalba, Prof. Sabino Yégros, Lic. Humberto Segovia, entre otros
	En el año 1974, debido al cierre del Liceo Fram, se funda el Colegio Parroquial “Monseñor Juan Wiesen” a iniciativa del Sr. Cura Párroco Rvdo. Padre Jesús Daniel López, Director del Colegio hasta el año 1.979, quien sensible a la necesidad de educación de los jóvenes y niños del distrito, y con el apoyo de la ciudadanía frameña, se lanzan con empeño y entusiasmo a ese emprendimiento de tanta importancia para la cultura. Este Colegio asume todos los compromisos del anterior Liceo de Fram.
	            Lleva el nombre del Primer Obispo de Encarnación MONSEÑOR JUAN WIESEN quien con esfuerzo y tesón organizó la nueva Diócesis.
	            El ideario del Colegio Mons. Juan Wiesen, desde sus inicios, ha sido siempre la formación integral del alumno/a, mediante el encuentro de éste con el patrimonio de la cultura , en un ambiente participativo, de aprendizaje y de expresión en el cual se forjan auténticas personalidades autónomas, que en el respeto a las personas y sus ideas hagan operativo el ideal de justicia, en una convivencia fraterna como expresión de paz, para posibilitar su inserción a una sociedad en las condiciones actuales de progreso”.
	A inicios del año 1979 asume la Dirección del Colegio la Hermana María Lourdes Martín Rodríguez, quien con verdadero sentido apostólico, entrega, dedicación y manifestación de afecto y simpatía hacia nuestra juventud, convirtió a la institución en un verdadero CENTRO DE FORMACIÓN INTEGRAL, esta obra de promoción evangelizadora es la que dio como frutos la formación de jóvenes libres, solidarios y forjadores de la paz y el progreso que el Paraguay necesita y quiere y se merece.
	También en el año 1.979 se consiguió la oficialización del 1º curso, y así año a año,  progresivamente los demás cursos. Logro éste de gran importancia para facilitar el acceso a la educación en condiciones de equidad a los jóvenes de nuestro distrito.
	            La edificación fue realizándose progresivamente en un predio cedido por la Municipalidad y con la colaboración de toda la comunidad, en especial de profesores, alumnos, y de una Comisión compuesta por padres y madres de alumnos/as de esta Institución quienes nunca escatimaron esfuerzos para trabajar.
	En noviembre del año 1986, la Madre Lourdes Martín se ve en la necesidad de ceder la dirección del Colegio, aquejada por un grave problema de salud que la obliga a viajar a España para continuar con su tratamiento, asume como encargado de despacho el Lic. Pedro Pascasio García Vera, quedando confirmado en el cargo en mayo del 1987 hasta el año 2000 cuando se acoge a los beneficios de la jubilación. 
	            En el año 2005, se inicia la implementación del bachillerato Técnico en Administración de Empresas con vista a formar jóvenes con conocimientos de contabilidad, administración, márketing e informática aplicados al manejo de los diferentes tipos de organizaciones.
	            Actualmente el Colegio tiene inscriptos a 295 jóvenes distribuidos en 6 grados del 3º ciclo de la Educación Escolar Básica, 3 cursos del Bachillerato Científico con énfasis en Ciencias Básicas, más  3 cursos del Bachillerato técnico en Administración de Negocios.
	               La comunidad educativa del colegio está en constante trabajo buscando mejorar la calidad de los servicios prestados a fin de lograr un mejor posicionamiento en el contexto local y regional como formadores de jóvenes capaces de enfrentar los desafíos del nuevo milenio.
	                Este objetivo se apoya en la dedicación al trabajo y el carisma del frameño, en su espíritu emprendedor, y en la implementación de recursos académicos y tecnológicos que den respuestas a las necesidades del mundo actual.
	               El Colegio Parroquial Subvencionado “Monseñor Juan Wiesen” define su visión pretendiendo ser una de las mejores instituciones educativas de la zona, caracterizándose por brindar una formación integral, con un alto nivel de excelencia, abierto al desarrollo sostenible, apoyado en procesos de  mejoramiento continuo  y de calidad  en el servicio. </p>
	
	          <p>  La vida institucional se basa en los siguientes valores:</p>
	<p> Ø EL RESPETO A LA PERSONA</p>
	<p> Ø LA RESPONSABILIDAD</p>
	<p> Ø LA HONESTIDAD</p>
	<p> Ø EL COMPAÑERISMO</p>
	<p> Ø LA SOLIDARIDAD</p>
	<p> Ø Y LA CORTESÍA</p>
</div>