<% provide(:title, 'Ayuda') %>
<h3 align="center">Breve ayuda para el manejo del Sistema</h3></br>
<p class="colorBorde texto">
	<b>Ø Si eres ALUMNO</b>
Puedes ingresar al sistema con tu respectivo usuario y contraseña, una vez dentro del sistema de la institución, puedes ver tu perfil y editarlo; también puedes observar tus tareas de cada materia, la fecha de entrega del mismo; descargar los materiales de apoyo que fueron almacenados por el docente respecto a la materia que estás cursando y ver los puntajes acumulados en cada material y la calificación del mismo.
</p>
</br>
<p class="colorBorde2 texto">
	<b>Ø Si eres DOCENTE</b>
Puedes ingresar al sistema con tu respectivo usuario y contraseña, una vez dentro del sistema de la institución, puedes ver tu perfil y editarlo; también puedes crear una nueva tarea con el curso y la materia respectiva para la planificación de las actividades y/o examenes y así el alumno pueda tener un control de sus responsabilidades; subir al sistema materiales de apoyo que estén a disposición del alumno para que estos puedan bajarlos y les sirva de ayuda para sus horas de estudio; cargar los puntajes acumulados por los alumnos en cada tarea u otro elemento de evaluación que se le haya tomado y cargar las calificaciones obtenidas por cada alumno en la materia según la etapa que corresponda.
</p>
</br>
<p class="colorBorde texto">
	<b>Ø Si eres ADMINISTRATIVO</b>
Puedes ingresar al sistema con tu respectivo usuario y contraseña, una vez dentro del sistema de la institución, puedes ver tu perfil y editarlo; y puedes realizar todas las actividades generales del sistema, esto incluye lo que puede realizar un alumno y un docente; además de esto, puedes registrar un nuevo admnistrativo, docente, alumno, dirección, ciudad, país, cursos, materias; puedes guardarlos, editarlos y borrarlos.
</p>