<% provide(:title, 'Home') %>
<div class="center hero-unit">
    <h1>Sistema Academico</h1>

    <h2>
      Para que sirve el sistema, que hace blabla.
    </h2>

    <%= link_to "Registrate Ahora!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>
