<% provide(:title, 'Home') %>
<div class="center hero-unit">
    <h1>Sistema Academico</h1>

    <h2>
      Sistema Académico que permite el registro de los principales miembros de 
      la institución: alumnos, docentes y personales administrativos. Además,
      de permitir el registro de puntajes y calificaciones de cada uno de los
      alumnos; planificación de tareas y examenes.
    </h2>

    <%= link_to "Registrate Ahora!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>
