<footer class="footer"> 
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Acerca",   about_path %></li>
      <li><%= link_to "Contactenos", contact_path %></li>
      <li><a href="http://www.mec.gov.py">MEC</a></li>
    </ul>
  </nav>
</footer>