<ul id="ul" class="nav nav-tabs nav-stacked ul">
<% materia.materiales.by_month(Date.today.month).order("created_at desc").each do |material| %>
  <li class="li"><%= link_to material.nombre_material, :action => 'download_file', :id => material.id, :controller => 'materiales' %></li>
<% end %>
</ul>