<div class="container">
  <div class="row">
	<%= render 'form' %>
  </div>
</div>

<div id="example" class="modal hide fade in" style="display: none; ">  
  <%= render 'popup', direccion: @direccion %>
</div> 