<small class="small">Materias: </small>
  <div class="btn-group" data-toggle="buttons-radio">
	  <% @materias.materia do |materia| %>
	  	<button class="btn" value="1">1</button>
  </div>
  <input type="text" id="6" value="2" style="display: none;"/>