<label>Materia</label>
<%= collection_select 'calificacion', :materia_id , materias,:id, :materia,{prompt: '-Seleccione-' },{class: "span3"}  %>

<label>Etapa</label>
<%= select( 'calificacion', :etapa, ['Primera', 'Segunda', 'Tercera', 'Complementario', 'Extraordinario' ],{prompt: '-Seleccione-' },{class: "span2"}) %>

<script type="text/javascript">
  $(document).ready(function(){
    var path2 = '<%= change_etapa_calificaciones_path %>';
    change_etapa_calificaciones(path2);
  });
</script>