<% unless @destruyo %>
	$("#error").html('<i class="icon-warning-sign"></i> La califiacion no puede ser eliminada. <button type="button" class="close" data-dismiss="alert" onClick="cerrar();">&times;</button>');
	$("#error").show();
<%else%>
	refresh();
	$("#correcto").html('<i class="icon-ok-sign"></i> La calificacion del alumno ha sido eliminado correctamente. <button type="button" class="close" data-dismiss="alert" onClick="cerrar();">&times;</button>');
	$("#correcto").show();
<%end%>