<legend>Cargar calificacion</legend>
<div class="container cuadro">
	<%= render 'form' %>
</div>
<div align="center" id="vinculos">
	<i class="icon-list"></i><%= link_to 'Listar Calificaciones', calificaciones_path %>
</div>
