<% if object.errors.any? %>
  <div class="Sample ui-state-error style">
  	<i class="icon-warning-sign"></i><strong>Atencion! </strong> 
    <!--El formulario contiene <%#= pluralize(object.errors.count, "error")%>. -->
    No están correctos los datos del formulario
  </div>
<% end %>