<small class="small">Filtros: </small>
<div class="btn-group" data-toggle="buttons-radio">
	<button class="btn" value="Sexo">Por Sexo</button>
	<button class="btn" value="Edad">Por Edad</button>
</div>
<input type="text" id="6" value="Sexo" style="display: none;"
