
  <small class="small">Calificacion: </small>
  <div class="btn-group" data-toggle="buttons-radio">
	  <button class="btn" value="1">1</button>
	  <button class="btn" value="2">2</button>
	  <button class="btn" value="3">3</button>
	  <button class="btn" value="4">4</button>
	  <button class="btn" value="5">5</button>
  </div>
  <input type="text" id="6" value="2" style="display: none;"/>

