<% provide(:title, 'Inicio') %>
<div id="fondo" class="fondo">
    <h3 align="center">Colegio Parroquial Privado Subvencionado "Monseñor Juan Wiesen"</h3>
    <h5 align="center"> Pagina de Reportes </h5>
</div>
<br/>
  <div class="container">
  	<div class="row">
		<h1>
			<small class="direccion" style="margin-top: 39px;">
				<%= select_tag 'select_type', options_from_collection_for_select(@cursos, "curso_grado", "curso_grado"), {class: 'input-medium'} %>
			</small>
			<div id="filters" class="direccion">
				<%= render 'filters' if @table and @chart %>
			</div>
		</h1>
	</div>
	<br/>
	<div id="graphic" class="row">
		<%= render 'graphic' if @table and @chart %>
	</div>
  </div>

 <script type="text/javascript">
  $(document).ready(function(){
    $('#principal').removeClass('container');
    $('#fondo').corner("round 18px");
    var path = '<%= change_data_reports_path %>';
	  rangeDate();
	  change_data_by_select(path);
	  change_data_by_note(path);
	  change_data_by_filters();
  });
</script>