$("#error").html('La direccion no puede ser eliminada porque esta siendo utilizada <button type="button" class="close" data-dismiss="alert" onClick="cerrar();">&times;</button>');
$("#error").show();
