<div class="row">
<legend> Editar Dirección </legend>
  <div class="span6">
		<%= render 'form', address: @address %>
		<div class="link">
			<%= link_to 'Listar Direcciones ->', addresses_path %>
		</div>
	</div>
</div>