<% if object.errors.any? %>
  <div class="alert alert-block">
    <strong>Atencion! </strong>
    El formulario contiene <%= pluralize(object.errors.count, "error") %>.
    <% object.errors.each do |attr, msg| %>
	  <%= "#{attr} #{msg}" if object.errors[attr].first == msg %> 
	<% end %>
  </div>
<% end %>