<% if object.errors.any? %>
  <div class="alert alert-block">
    <strong>Atencion! </strong>
    <!--El formulario contiene <%#= pluralize(object.errors.count, "error")%>. -->
    No están correctos los datos del formulario
  </div>
  
<% end %>