<p id="notice"><%= notice %></p>

<p>
  <b>Pais:</b>
  <%= @country.pais %>
</p>

<% if current_user.is_administrativo %>
  <%= link_to 'Editar', edit_country_path(@country) %> |
<% end %>
<%= link_to 'Listar', countries_path %>
