refresh();
$("#correcto").html('<i class="icon-ok-sign"></i> El material se ha eliminado correctamente. <button type="button" class="close" data-dismiss="alert" onClick="cerrar();">&times;</button>');
$("#correcto").show();