<% unless @destruyo %>
	$("#error").html('<i class="icon-warning-sign"></i> El puntaje seleccionado no puede ser eliminado porque esta siendo utilizada. <button type="button" class="close" data-dismiss="alert" onClick="cerrar();">&times;</button>');
	$("#error").show();
<%else%>
	refresh();
	$("#correcto").html('<i class="icon-ok-sign"></i> El puntaje se ha eliminado correctamente. <button type="button" class="close" data-dismiss="alert" onClick="cerrar();">&times;</button>');
	$("#correcto").show();
<%end%>