/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#vinculos a:link { 
color:#1E90FF;
font-size:12px;
font-weight:bold;
}
#vinculos a:visited {
color:#1E90FF;
font-size:12px;
font-weight:bold;
}

.texto{
  text-align: justify;
  font-size: 14px;
  font-family: Arial;
  color: black; 
}

.subTitulo{
  text-align: justify;
  font-family: Arial;
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.colorBorde{
  background-color: #00BFFF;
  padding: 20px;
  border-style: solid;
  border-width: 2px;
}

.colorBorde2{
  background-color: #87CEFA;
  padding: 20px;
  border-style: solid;
  border-width: 2px;
}
.textWrap{
  float: right;
  margin: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #551010;
}

.textWrapLeft{
  clear: right;
  float: left;
  margin: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #551010;
}

.textWrapRight{
  clear: left;
  float: right;
  margin: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #551010;
}

#registrousuario {
border-width: thin;
color:#333333;
height:630px;
padding:0 0 0 50px;
width:500px;
}

#registrousuario legend {
color:#333333;
font-family:arial;
font-style: inherit;
font-size:21px;
letter-spacing:-1px;
padding-bottom:20px;
padding-top:8px;
text-transform:capitalize;
}

 #colorBoton{
  color:white;
 }
 .cuadro{
    border: none;
    box-shadow: 3px rgba(0,0,0,.1);
    border: 1px solid #CCC;
    padding-left: 10px;
    padding-bottom: 30px;
    border-radius: 3px;
    margin-bottom:20px;
    padding-top: 10px;
    background-color: #E6E6FA;
}
 
.fondo{
  padding: 10px;
  margin: 0px;
  background:url(light_blue_wallpaper.jpg);
  border:2px solid #006699;
}

 .link{
   font-family: Georgia, 'Times New Roman';
   font-weight: bold;
   font-size: 14px;
   font-style: italic;
 }
 .footer{
   width:800px;
   position: absolute;
   bottom: 0 !important;
   bottom: -1px;
   text-align: center;
}
 .field_with_errors {  
  display: inline;  
}  
  
.field_with_errors .message {  
  color: #D00;  
  padding-left: 5px;  
  font-size: 12px;  
}

.direccion{
	float: right;
}

.seguido{
    float: left;
}

.seguido-espaciado{
	float: left;
    margin-left: 20px;
}

.abajo{
    clear: both;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

input#kwd_search{
    padding: 5px;
    margin: 0 0 5px 0;
    font:normal 9px verdana, arial, helvetica, sans-serif;
}

input.input2 {
    padding: 5px;
    margin: 0 0 5px 0;
    font:normal 9px verdana, arial, helvetica, sans-serif;
}

.h1{
    font-family: 'Chela One', cursive;
    /*font-family: 'Jockey One', sans-serif;*/
    font-size: 28px;
    font-weight: bold;
    text-transform:uppercase;
}

.small{
    font-family: 'Chela One', cursive;
    /*font-family: 'Jockey One', sans-serif;*/
    font-size: 20px;
}

/* 
    Blue Dream
    Written by Teylor Feliz  http://www.admixweb.com
*/

.table-title{ background:#424242;
 color:#FFFFFF;
 text-align:left;
 text-transform:uppercase;
}
table { background:#D3E4E5;
 border:1px solid gray;
 border-collapse:collapse;
 color:#fff;
 font:normal 10px verdana, arial, helvetica, sans-serif;
}
caption { border:1px solid #5C443A;
 color:#5C443A;
 font-weight:bold;
 letter-spacing:20px;
 text-align:center;
 text-transform:uppercase;
}
td, th { color:#363636;
 font:normal 10px verdana, arial, helvetica, sans-serif;
}
.li { 
    color:#363636;
    font:normal 9px verdana, arial, helvetica, sans-serif;
}
tr { border:1px dotted gray;
}
thead th, tfoot th { background:#424242;
 color:#FFFFFF;
 text-align:left;
 text-transform:uppercase;
}
tbody td{
    font:normal 10px verdana, arial, helvetica, sans-serif;
}
tbody td a { color:#363636;
 text-decoration:none;
}
tbody td a:visited { color:gray;
 text-decoration:line-through;
}
tbody td a:hover { text-decoration:underline;
}
tbody th a { color:#363636;
 font-weight:normal;
 text-decoration:none;
}
tbody th a:hover { color:#363636;
}
tbody td+td+td+td a { background-image:url('bullet_blue.png');
 background-position:left center;
 background-repeat:no-repeat;
 color:#03476F;
 padding-left:15px;
}
tbody td+td+td+td a:visited { background-image:url('bullet_white.png');
 background-position:left center;
 background-repeat:no-repeat;
}
tbody th, tbody td { text-align:left;
 vertical-align:top;
}
tfoot td { background:#5C443A;
 color:#FFFFFF;
 padding-top:3px;
}
.odd { background:#fff;
}
tbody tr:hover { background:#D8D8D8;
 border:1px solid #03476F;
 color:#000000;
}
