
.texto{
	text-align: justify;
	font-size: 14px;
	font-family: Arial;
	color: black;	
}

.textWrap{
	float: right;
	margin: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: #551010;
}

.textWrapLeft{
	clear: right;
	float: left;
	margin: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: #551010;
}

.textWrapRight{
	clear: left;
	float: right;
	margin: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: #551010;
}

